<% provide(:title, 'Home') %>
<h1>Home</h1>
<p>
  yolobagins
  <a href="http://oregand.github.io">David O'Regan</a>.
</p>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("RMC.png", alt: "RMC"), 'http://oregand.github.io' %>